.post {
  background-color: rgb(218, 218, 218);
  padding: 1rem 0;

  &__header {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__items {
    &-wrap {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    &-info-bar {
      display: flex;
      justify-content: space-between;
    }
    &-comments-likes-wrap {
      display: flex;
    }
    &-likesIcon {
      padding-left: 1rem;
    }
    &:first-child {
      background-color: white;
      min-width: 500px;
    }
  }
}
