@use "../../styles/partials/reset" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/color" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.post {
  background-color: #1d2033;
  padding: 1rem 0;

  &__header {
    width: 65%;
    &-list-item {
      &:first-child {
        background-color: orange;
        border-radius: 5px;
        width: 4.5rem;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      color: white;
    }
  }

  &__left-feature{
    @include flex(column,space-between,space-between);
    width:100%;
    height:100%;
  }

  &__items {
    &-wrap {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    &-hero {
      width: 65%;
      background-color: purple;
      color: white;
      border-radius: 0.25rem;
      margin: 0.5rem;
    }
    background-color: purple;
    color: white;
    width: 48%;
    margin: 0.5rem;

    &-img {
      display: flex;
      padding: 1rem;
      object-fit: contain;
      width: 100%;
  
    }
    &-info-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem 1rem;
    }
    &-comments-likes-wrap {
      display: flex;
    }
    &-likes {
      &-icon {
        padding-left: 0.5rem;
      }
      &-count {
        padding-left: 0.5rem;
      }
    }
    &-comments {
      &-icon {
        padding-left: 0.5rem;
      }
      &-count {
        padding-left: 0.5rem;
      }
    }
  }

  &__video-img {
    width: 100%;
    height:80%;
    background-size: cover;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: red;
  }

  &__lower {
    width:100%;
    background-image: linear-gradient(to right, #361c52, #571c42);
    padding: 1rem 0.5rem 0 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
    flex-grow: 1;
  }
  &__comm-like {
    display: flex;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid white;
    justify-content: flex-end;
  }

  &__chat{
    margin-right: 0.5rem;
  }

  &__icon1 {
    padding-right: 0.3rem;
    &:hover {
      cursor: pointer;
      // opacity: 0;
    }
  }
  &__heart1 {
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
  }
  &__game-text {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.post__additional-info {
  width: 30%;
  &-search-bars {
    padding: 2rem;
    color: white;
    background-image: linear-gradient(to right, #361c52, #571c42);
    margin: 0.5rem;
    height: 47.5%;
    border-radius: 0.25rem;
  }
  &-search {
    color: #c4c4c4;
    display: flex;
    border: 1px solid #c4c4c4;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
  }
  &-text {
    margin-bottom: 0.5rem;
  }
  &-search-textss {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  &-popular-hubs {
    color: white;
    background-image: linear-gradient(to right, #361c52, #571c42);
    margin: 0.5rem;
    height: 47.5%;
    padding: 2rem;
    border-radius: 0.25rem;
    &-title {
      color: white;
    }
    &-list {
      color: red;
    }
  }
}
