@use "../../styles/partials/reset" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/color" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.hero {


  &__title {
    height: 3.5rem;
    background-color: #f1f1f1;
    color: white;
    padding-top: 0.6rem;
    padding-left: 1rem;
    font-size: 20px;
    background-image: linear-gradient(to right, #361c52, #571c42);
  }
  &__text-sup {
    color: #fe4747;
  }
  &__background-effect {
    // background: linear-gradient(#add8e6, white);
    background-color: #050a30;
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tag-line {
    color: white;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 40px;
  }
  &__hook {
    color: white;
    margin-bottom: 2rem;
    font-size: 20px;
  }
  &__button {
    background: red;
    border: none;
    width: 6rem;
    color: white;
    font-size: 17px;
    padding: 0.5rem;
    padding-left: 0.8rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    &:hover {
      background-color: #571c42;
      cursor: pointer;
    }
  }
  &__learn {
    color: white;
    margin-bottom: 1rem;
    font-size: 19px;
  }
  &__search {
    color: #c4c4c4;
    display: flex;
    border: 1px solid white;
    padding: 0.3rem 5rem 0.3rem 1rem;
    border-radius: 0.25rem;
  }

  &__search-text {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
  }
  &__trending {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__trending-title {
    color: white;
    margin-bottom: 1rem;
    font-size: 24px;
  }
  &__img-text {
    width: 32%;
  }
  &__text {
    color: white;
    margin-top: 0.5rem;
    text-align: end;
    font-size: 17px;
  }
  &__img {
    width: 100%;
    &:hover {
      opacity: 0.5;
    }
  }
  &__image-roll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
